<!DOCTYPE html><html lang="es"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><title>Document</title><link href="http://www.peruviandress.com/sivecsol/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"><style>.page_break { page-break-before: always; } body{font-size: 11px;}</style></head><body><img src="/home/peruvian/public_html/sivecsol/img/logo.png"><h3 style="font-weight: bold; text-align: center;">Reporte de Retiros</h3><!--<table class="table table-bordered table-hover" id="tabla_retiros"><tr><th>Tipo</th><th>Concepto</th><th>Monto</th><th>Fecha</th><th style="text-align: center;">Pagos</th></tr>-->
								<table class="table table-bordered table-hover" id="tabla_retiros">
									<thead>
										<tr>
											<th>Tipo</th>
											<th>Concepto</th>
											<th>Monto</th>
											<th>Fecha</th>
											<th style="text-align: center;">Pagos</th>
										</tr>
									</thead>
									<tbody id="tabla_retiros_t"></tbody>
								</table>
							</body></html>