<IfModule mod_rewrite.c>
  RewriteEngine On

  # Si el frontend no está en la raíz del dominio, ajuste esta línea.
  # Ejemplo subcarpeta: RewriteBase /peruvian/frontend/dist/
  RewriteBase /

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
